<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script
    src="https://kit.fontawesome.com/2c1bb557eb.js"
    crossorigin="anonymous"
  ></script>

</head>
<body>
    <header>    
        <img class="logo" src="/img/logo.jpg" alt="logo">
        <nav>
            <ul class="header-lista">
                <li><a href="">HOME</a></li>
                <li><a href="">QUIENES</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">PORTFOLIO</a></li>
                <li><a href="">SUCURSALES</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
              </div>
        </nav>
    </header>
    <main>
        <img class="banner" src="/img/img-banner.jpg" alt="img-banner">
        <article class="main-article">
            <section class="contenedor-imagenes">
                <img class="etiquetas" src="/img/img-nuevo.png" alt="etiqueta-azul">
                <img class="main-imagenes" src="/img/img-pdto-1.jpg" alt="copas">
                <a class="ampliar-foto" href="">AMPLIAR FOTO</a>
            </section>
            <section class="contenedor-texto">
            <h1>Lorem ipsum amet</h1>
            <p>Lorem ipsum dolor sit amet, consectectur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
            <button>ver más</button>
        </section>
        </article>
        <article class="main-article">
            <section class="contenedor-imagenes">
                <img class="etiquetas" src="/img/img-gratis.png" alt="etiqueta-verde">

                <img class="main-imagenes" src="/img/img-pdto-2.jpg" alt="productos">

                <a class="ampliar-foto" href="">AMPLIAR FOTO</a>
            </section>
            <section class="contenedor-texto">
            <h1>Lorem ipsum amet</h1>
            <p>Lorem ipsum dolor sit amet, consectectur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
            <button>ver más</button>
        </section>
        </article>
        <article class="main-article">
            <section class="contenedor-imagenes">
                <img class="etiquetas" src="/img/img-descuento.png" alt="etiqueta-roja">
                <img class="main-imagenes" src="/img/img-pdto-3.jpg" alt="restaurante">

                <a class="ampliar-foto"href="">AMPLIAR FOTO</a>
            </section>
            <section class="contenedor-texto">
            <h1>Lorem ipsum amet</h1>
            <p>Lorem ipsum dolor sit amet, consectectur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
            <button>ver más</button>
        </section>
        </article>
        <article class="main-article">
            <section class="contenedor-imagenes">
                <img class="etiquetas" src="/img/img-gratis.png" alt="etiqueta-verde">
                <img class="main-imagenes" src="/img/img-pdto-1.jpg" alt="copas">
                <a class="ampliar-foto" href="">AMPLIAR FOTO</a>
            </section>
            <section class="contenedor-texto">
            <h1>Lorem ipsum amet</h1>
            <p>Lorem ipsum dolor sit amet, consectectur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
            <button>ver más</button>
        </section>
        </article>
        <article class="main-article">
            <section class="contenedor-imagenes">
                <img class="etiquetas" src="/img/img-nuevo.png" alt="etiqueta-azul">
                <img class="main-imagenes" src="/img/img-pdto-2.jpg" alt="productos">
                <a class="ampliar-foto" href="">AMPLIAR FOTO</a>
            </section>
            <section class="contenedor-texto">
            <h1>Lorem ipsum amet</h1>
            <p>Lorem ipsum dolor sit amet, consectectur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
            <button>ver más</button>
        </section>
        </article>
        <article class="main-article">
            <section class="contenedor-imagenes">
                <img class="etiquetas" src="/img/img-descuento.png" alt="etiqueta-roja">
                <img class="main-imagenes" src="/img/img-pdto-3.jpg" alt="restaurante">
                <a class="ampliar-foto" href="">AMPLIAR FOTO</a>
            </section>
            <section class="contenedor-texto">
            <h1>Lorem ipsum amet</h1>
            <p>Lorem ipsum dolor sit amet, consectectur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
            <button>ver más</button>
        </section>
        </article>
    </main>
    <footer>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">QUIENES</a></li>
            <li><a href="">SERVICIOS</a></li>
            <li><a href="">PORTFOLIO</a></li>
            <li><a href="">SUCURSALES</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>
    </footer>
</body>
</html> 